
/*.pullImg {
	width: auto;
	position: relative;
	height: auto;

}
*/

.row {
	width: 100%;

}



.pullImg:hide {
	display: none;
}

#red_box:hover {
	
}

li:hide {
	display: hidden;
}

.green_dot img {
	height: 40px;
	width: 40px;
	border: solid 3px #fff; 
	border-radius: 20px;
}



input {
	text-align: right;
	display: block;
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	height: 20px;
	width: 300px;
	line-height: 20px;
}

.box:hover, button {
	color: #00FF00;
}


#red_box{
	background-color: red;
	display: inline-block;
	height: 130px;
	width: 200px;
	color: red;
	border: solid;
	padding: 30px;
	border-radius: 30%;
	opacity: 50%;
/*	margin-left: auto;
  	margin-right: auto;*/
	
}

button {
	font-size: 25px;
	background: black;

}


#blue_box {
	background-color: blue; 
	display: inline-block;
	height: 130px;
	width: 200px;
	color: blue;
	border: solid;
	padding: 30px;
	border-radius: 30%;
/*	margin-left: auto;
    margin-right: auto;*/

}
body {
	text-align: center;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: black;
	background-image: url("Matrix.jpg"); 
	background-repeat: no-repeat;
	background-position: center;

}